{% extends 'base.html' %}

{% block title %}
    {{ post.title }} - {{ block.super }}
{% endblock title %}

{% block header %}

         <nav>
         <div class="flex items-center justify-center pa0">
           <a class="f5 fw4 hover-gray no-underline green dn dib-ns pv2 ph3" href="{% url 'home' %}"><span>Home</span></a>
    {% if user.is_authenticated %}
       <p class= "f5 green pa0 bg-white fw4 dn dib-ns pv1 ph1">  You are logged in as: {{ user.username }}</p> 
       <a class="f5 fw4 hover-gray no-underline green dn dib-ns pv2 ph3" href="{% url 'auth_logout' %}"><span>Sign Out</span></a><div>
       
    {% else %}
        <a class="f5 fw4 hover-gray no-underline green dn dib-ns pv2 ph3" href="{% url 'auth_login' %}"><span>Sign In</span></a>
        <a class="f5 link grow ph2 pv2 mb2 dib white bg-gold" href="{% url 'registration_register' %}"><span>Sign Up</span></a></span></div>
    {% endif %}

        </nav> 

        <div class="bg-light-green flex items-center justify-center pa0">
        <h1 class="f1 f1-1  white mb0 lh-title">Mo'   T&#9749;, please!</h1></div>

{% endblock header %}

{% block content %}

<article class="cf bg-light-green ph3 ph5-ns pv5 vh-100 dt w-100">
<section class="mw5 mw7-ns center bg-light-gray pa3 ph5-ns">
    <h3><a class="green" href="{{ post.link }}">{{ post.title }}</a></h3>
    <p class="gold"> Brewed by: @{{ post.author }}</p>
    <p> {{ post.description }}</p>
    <p>This post has {{ post.comments.count }} comment{{post.comments.count|pluralize}} and {{ post.favorites.count }} favorites</p>
    {% if user == post.author %}
        <p>
            <a href="{% url 'edit_post' slug=post.slug %}">
            Edit Post!
            </a>
        </p>
            <form method="POST" action="{% url 'delete_post' post_id=post.pk %}">
                {% csrf_token %}
            <button class="f4 link grow ph2 pv2 mb2 dib white bg-green" type="submit">Delete Post</button>
            </form>
        <p>

        </p>
    {% endif %}
    {% if request.user.is_authenticated %}
    <div><form class="pa4 black-80" role="form" action="" method="POST">
        <div>
        <label for="comment" class="f6 b db mb2">New Comment: <span class="normal black-60">(optional)</span></label>
        </div>
        {% csrf_token %}
        {{ form }}
        <div>
        <button class="f4 link grow ph2 pv2 mb2 dib white bg-green" type='submit'>Post Comment</button>
        </div>
        </form>
    </div>
    {% endif %}
    <div>
        {% for comment in comments %}
            <p>Stirred by: @{{ comment.author }}<span class="gold"> | {{ comment.created_at }} </span></p>
            
            <p>{{ comment.new_comment }}</p>
            
            {% if user == comment.author %}
               <p><a href="{% url 'edit_comment' comment_id=comment.pk  %}">
            Edit Comment!
            </a></p>

            <form method="POST" action="{% url 'delete_comment' comment_id=comment.pk%}">
                {% csrf_token %}
            <button class="f7 link grow bg-green" type="submit"><span>Delete Comment</span></button>
            </form>
           {% endif %} 
        {% endfor %}
    </section>
</article>
{% endblock content %}

    