{% extends 'base.html' %}

{% block title %}
    {{ post.title }} - {{ block.super }}
{% endblock title %}

{% block content %}
    <h3><a href="{{ post.link }}">{{ post.title }}</a></h3>
    <p> Author: {{ post.author }}</p>
    <p> {{ post.description }}</p>
    <p>This post has {{ post.comments.count }} comment{{post.comments.count|pluralize}} and {{ post.favorites.count }} favorites</p>

    {% if request.user.is_authenticated %}
    <div><form role="form" action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <button type='submit'>Post Comment</button>
        </form>
    </div>
    {% endif %}
    <div>
        {% for comment in comments %}
            <p>{{ comment.created_at }}</p>
            <p>{{ comment.new_comment }}</p>
            <p>{{ comment.author }}</p>
            {% if user == comment.author %}
            <form method="POST" action="{% url 'delete_comment' comment_id=comment.pk%}" class="f4 link grow ph2 pv2 mb2 dib white bg-light-purple">
                {% csrf_token %}
            <button type="submit">Delete Comment</button>
            </form>
            {% endif %}
        {% endfor %}
    {% if user == post.author %}
        <p>
            <a href="{% url 'edit_post' slug=post.slug %}">
            Edit Post!
            </a>
        </p>
            <form method="POST" action="{% url 'delete_post' post_id=post.pk %}" class="f4 link grow ph2 pv2 mb2 dib white bg-light-purple">
                {% csrf_token %}
            <button type="submit">Delete Post</button>
            </form>
        <p>

        </p>
    {% endif %}
{% endblock content %}

    