[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-registration-redux = "==2.0"
django-extensions = "*"
mimesis = "*"
psycopg2 = "*"
gunicorn = "*"
django-heroku = "*"
django-el-pagination = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"

[requires]
python_version = "3.7"
