{% extends 'base.html' %}

{% block title %}
    Confirm Password Reset - {{ block.super }}
{% endblock title %}

{% block content %}
    {% if validlink %}
    <h3>Confirm Password Reset</h3>
    <p>Please enter your new password into the fields below.</p>
    <form type='submit' action="" method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value="Change Password" />
    </form>
    {% else %}
    <h3>Password reset unsuccessful</h3>
    <p>The password reset link was invalid, possibly because it was already used. Please submit a new password reset request and a new link will be sent to you.</p>
    {% endif %}
{% endblock content %}