{% load staticfiles %}

<!doctype html>
<html>
<head>

    <title>
        {% block title%}
            M&T News
        {% endblock title%}
    </title>
    <link rel="stylesheet" href="{% static 'style.css' %}" /> 

    {% block header %}
    {% endblock header %}
</head>

<body>
    <header>
        <h3>M&T News!</h3>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'auth_logout' %}">Sign Out</a></li>
                {% else %}
                <li><a href="{% url 'auth_login' %}">Sign In</a></li>
                <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}

    {% block footer %}  
    {% endblock footer %}
</body>
</html>