{% extends 'base.html' %}
{% load staticfiles %}
{% load el_pagination_tags %}

{% block title %}
    Home - {{ block.super }}
{% endblock title %}

    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% block header %}

{% endblock header %}             
                    

{% block content %}

<header class="georgia">
    <div class="cover bg-left bg-center-1" style="background-image: url(https://i.kym-cdn.com/entries/icons/original/000/015/878/thatsnoneofmy.jpg")>
           <div class="bg-black-20 pb3 pb3-m pb3-l">
            <nav class="dt w-100 mw8 center"> 
            <div class="pa3">
            {% comment %}
        
        </div>
       <nav class="dt w-100 mw8 center"> 
       <div class="dtc w2 v-mid pa3">
       <div class="dtc v-mid tr pa3">  {% endcomment %}

     <nav>
         <div class="flex items-center justify-center pa0">
           <a class="f5 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{% url 'home' %}"><span>Home</span></a>
    {% if user.is_authenticated %}
       <p class= "f5 green pa0 bg-white fw4 dn dib-ns pv1 ph1">  You are logged in as: {{ user.username }}</p> 
       <a class="f5 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{% url 'auth_logout' %}"><span>Sign Out</span></a><div>
       
    {% else %}
        <a class="f5 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{% url 'auth_login' %}"><span>Sign In</span></a>
        <a class="f5 link grow ph2 pv2 mb2 dib white bg-gold" href="{% url 'registration_register' %}"><span>Sign Up</span></a></span></div>
    {% endif %}

        </nav> 
        </div>
        <div class="tc-1 mt4 mt5-m mt6-1 ph1">
        <div class="flex items-center justify-center pa0">
        <h1 class="f2 f1-1 fw2 white mb0 lh-title">Mo'   T&#9749;, please!</h1>
        </div>
        <div class="flex items-center justify-center pa0">
        <h2 class="fw1 f3 white mt3 mb4">Your place for all the HOTTEST gossip</h2>
        </div>
        <div class="flex items-center justify-center pa0">
        <a class="f4 link grow ph2 pv2 mb2 dib white bg-green" href="{% url 'create_post' %}">Spill The Tea</a>
                <span class="dib v-mid ph3 white mb3">or</span>
        <a class="f4 link grow ph2 pv2 mb2 dib white bg-green" href="{% url 'sort_created_ascending' %}">Sort By Brew Date</a>
        </div>
        </div>
        </div>
        </div>

        </nav>
   </div> 
</div>
</header>
<article class="cf ph3 ph5-ns pv5 vh-100 dt w-100">
<div class="tc-1 mt4 mt5-m mt6-1 ph1">
<h3 class=" bg-black-20 pa2 flex items-center justify-center"> &#9749; = This is my cup of tea! (up-vote) |  &#128056; = That's none of my business (no-vote)</h3>
</div>
<div>
</div>
    {% paginate posts %}{% get_pages %}
    {% for post in posts %}
    <div class="container mw5 mw7-ns center pa3 ph2-ns">
    <div>
      {% if request.user.is_authenticated %}
                <form method="POST" action="{% url 'change_favorite' post_id=post.pk%}" class="f4 link grow dib ">
                {% csrf_token %}
                <button class="pa0 bg-white bn" type="submit">
                    {% if post in favorite_posts %}

                    &#9749; 
                        
                    {% else %}

                    &#128056; 
                    
                    {% endif %}
                </button>
                </form>
            {% endif %}
        {% if post.link %} 
           <span h3><a class="gold" href="{{ post.link }}">{{ post.title }}</a></span h3></div>
        {% else %}
            
            <span h3><a class="gold" href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></span h3></div> 

        {% endif %} 

            

        
        <p class="green"> brewed by @{{ post.author }}: <span class="black"> {{ post.description }}</span></p>
        <p><a href="{% url 'post_detail' slug=post.slug %}">This post has {{ post.comments.count }} comment{{post.comments.count|pluralize}}</a> and {{ post.favorites.count }} favorite{{post.favorites.count|pluralize}} and was created at: {{ post.created_at }}</p>

</ul>
</div>
</div>
     </div>   
    {% endfor %}
{% comment%} Pagination styling below {% endcomment %}

    <div class="flex items-center justify-center pa4">

        <a href="{{ pages.previous.path }}" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4">
            <svg class="w1" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor">
                <title>chevronLeft icon</title>
                <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 L6 z"></path>
            </svg>
        <span class="pl1">Previous</span>
    </a>
    {% for page in pages %}
    {% if page == None %}
      <div class="page-item disabled">
        <a class="page-link" href="#" aria-label="...">
          <span aria-hidden="true">...</span>
          <span class="sr-only">...</span>
        </a>
      </div>
    {% else %}
      <div class="page-item {% if page.is_current %} active pa0 bn pr0 pv0 ph0 bg-green dib {% endif %}">
        <a class="page-link f5 items-center justify-center no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4" href="{{ page.path }}" aria-label="Page {{page.number}}">
          <span aria-hidden="true">{{ page.label|safe }}</span>
        </a>
      </div>
    {% endif %}
  {% endfor %} 
    <a href="{{ pages.next.path }}" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 ba border-box mr4">
        <span class="pr1">Next</span>
            <svg class="w1" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
                <title>chevronRight icon</title>
                <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
            </svg>
        </a>
    </div>
    <div class="flex items-center justify-center pa4">
     <p>Showing {{ pages.current_start_index }}-{{ pages.current_end_index }} of {{ pages.total_count }} posts </p></div>

</div>
</article>
{% endblock content %}
