{% extends 'base.html' %}
{% load staticfiles %}

{% block title%}
    Home - {{ block.super }}
{% endblock title%}

<header class="georgia">
    <div class="cover bg-left bg-center-1" style="background-image: url(https://i.kym-cdn.com/entries/icons/original/000/015/878/thatsnoneofmy.jpg")>
        <div class="bg-black-80 pb5 pb6-m pb7-1">
        <div class="tc-1 mt4 mt5-m mt6-1 ph3">
        <h1 class="f2 f1-1 fw2 white-90 mb0 lh-title">Mo T' please!</h1>
        <h2 class="fw1 f3 white-80 mt3 mb4">Spill the tea or take a sip of our blends</h2>
        <a class="f6 no-underline grow dib v-mid bg-blue white ba b--blue ph3 pv2 mb3" href="{% url 'create_post' %}">Spill The Tea</a>
        </div>
        </div>
</div>
</header>
                
                    

{% block content %}
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
    <h1> Mo' T<img src= "tea.jpg" > please
        <span class="txt-rotate" data-period="2000" data-rotate= '["T(ea) please!", "of my FAVORITE things"]'></span>
    </h1> 

    <a class="f4 link grow ph2 pv2 mb2 dib white bg-light-purple" href="{% url 'create_post' %}">
Create post</a>

    <div>
        {% for post in posts %}
        
            <h3><a href="{% url 'post_detail' slug=post.slug %}">
                {{ post.title }}
            </a></h3>
                {% if request.user.is_authenticated %}
                    <form method="POST" action="{% url 'change_favorite' post_id=post.pk%}" class="f4 link grow dib bg-orange">
                    {% csrf_token %}
                    <button type="submit">
                        {% if post in favorite_posts %}

                        &#9749; 
                            
                        {% else %}
 
                        &#128056; 
                        
                        {% endif %}
                    </button>
                    </form>
                {% endif %}

            <p>{{ post.author }}</p>
            <p><a href="{{ post.link }}">{{ post.link }}</a></p>

            <p>This post has {{ post.favorites.count }} favorite{{post.favorites.count|pluralize}}</p>
            


        {% endfor %}
    </div>

{% endblock content %}
