body {
    background-color: lightcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.georgia [
 background-image: url("https://i.kym-cdn.com/entries/icons/original/000/015/878/thatsnoneofmy.jpg");

]